/* Common shared styles */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Banner Section */
.banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    ;

    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 600px;
    border-radius: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;

}

.banner-info {
    width: 50%;
    margin: auto;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.banner-heading {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* 65% Section */
.off-section {
    margin-top: 80px;

}

.off-info {
    text-align: center;
}

.off-img {
    width: 50%;
    height: 500px;
    margin-left: 400px;
    margin-right: 400px;

}

.off-header {
    color: #F00;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
}

.off-para {
    color: #F00;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
}

.off-cat {
    color: #070211;
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    margin-top: 8px;
}

/* party section */
.party-section {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    ;

    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 500px;
    border-radius: 16px;
    display: flex;
    /* align-content: center;
    justify-content: center; */
    margin: auto;
    margin-top: 50px;

}

.party-heading {
    color: #FFF;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    letter-spacing: 7.04px;
    padding: 90px 100px 0px 120px;
    margin-bottom: 0px;
}

.party-para {
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-weight: 400;
    padding: 15px 100px 0px 120px;

}

.btn-join {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: 140px;
    border: none;
}

.year-img {
    width: 50%;
    padding: 30px;
}

/* Portfolio Section */
.portfolio-header {
    color: #F00;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0px;
}

.portfolio-header-main {
    color: #070211;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio-para {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    font-family: Inter;
}

.portfolio-info {
    margin-top: 150px;
    margin-left: 140px;
    text-align: left;
    padding-right: 500px;
}

.portfolio-img {
    margin-top: 50px;
    margin-left: 140px;
    /* margin-right: 140px; */
    /* width: 100%; */
    width: 100px;
    height: 100px;
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
    display: block;
    margin-right: 140px;
}

.img-row-1 {
    width: 400px;
    height: 410px;
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}

.img-row-2 {
    width: 400px;
    height: 410px;
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}

/* subcsribe section */
.subscribe-section {
    padding: 100px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 800px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 16px;
    align-content: center;
    margin-bottom: 50px;
    text-align: center;
    height: 400px;
}

.subs-img {
    width: 100px;
    height: 100px;
}

.subs-header {
    color: #070211;
    font-size: 35px;
    font-weight: 800;
    text-transform: capitalize;
}

.subs-para {
    color: rgba(7, 2, 17, 0.60);
    font-size: 15px;
    font-weight: 300;
    padding: 50px;
    font-family: Inter;
}

.email-text {
    width: 348px;
    height: 60px;
    border-radius: 30px 0px 0px 30px;
    background: #FFF;
    border: none;
    color: rgba(7, 2, 17, 0.30);
}

.email-btn {
    width: 148px;
    height: 60px;
    border-radius: 0px 30px 30px 0px;
    color: white;
    background: #F00;
    color: #FFF;
    text-transform: capitalize;
    border: none;
}

/* Footer Section */
footer {
    background: black;
    padding: 100px 150px;
    color: white;
}

.footer-address {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
}

.footer-address-1 {
    max-width: 375px;
}

.footer-info {
    display: block;
}

hr {
    background: rgba(255, 255, 255, 0.15);
    width: 1220px;
    height: 1px;
    border: none;
}

.social-links {
    margin: auto;
    width: 30%;
    justify-content: space-between;
    display: flex;

}

.rights-section {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
}